<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERPdemo.Properties.Settings.IBE_ERPConnectionString"
            connectionString="Data Source=HC-SQL\SQL2017;Initial Catalog=IBE_ERP;Persist Security Info=True;User ID=sa;Password=1234#abc"
            providerName="System.Data.SqlClient" />
        <add name="ERPdemo.Properties.Settings.IB34DB_AppCore_20220609ConnectionString"
            connectionString="Data Source=HC-SQL\SQL2017;Initial Catalog=IB34DB_AppCore_20220609;Persist Security Info=True;User ID=sa;Password=1234#abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>